body {background-color: whitesmoke;
    color:#0000ff;}
a:hover {color:lightgoldenrodyellow}
a:visited {color:lightseagreen}
h1,h2 {color:#FFB6C1}
nav {
    padding:20px;
    background-color: whitesmoke;
    color: lightpink;
    margin-bottom:30px;
}
nav a {color:lightpink;}
nav a:hover {background-color: lightsteelblue;}
.quote {float: right;}
.img1 {display: block; margin-left: auto; margin-right: auto; margin-bottom: 30px; max-width: 100%;}

.part1 {display: flex;}
.address {flex: 1; background-color: lightskyblue; padding:30px; border-radius: 1em; margin-top: 10px; margin-bottom: 10px;}
.link {flex: 1; background-color: lightslategray; padding:30px; border-radius: 1em; margin-top: 10px; margin-bottom: 10px;}
.part2 {display: flex; flex-wrap: wrap;}
.form {flex: 1; background-color: lightpink; padding:30px; border-radius: 1em; margin-top: 10px; margin-bottom: 10px; flex-wrap: wrap;}
.map {flex: 1; background-color: lightsalmon; padding:30px; border-radius: 1em; margin-top: 10px; margin-bottom: 10px; flex-wrap: wrap;}
@media only screen and (max-width: 600px) {
    nav a{
        display: flex;
        flex-direction: column;
    }
    span{display: none;}
}
#skip {
    position: absolute;
    left: -999px; 
    background-color: lightcyan;
    padding: 5px; 
    }
    #skip:focus {
    left: 10px;
    }